@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

html,body{
    background:#E8F0F2;
}

.buttonswweetalertcolor{
    background: red;
}
/* เพิ่มพื้นที่ว่างรอบๆ คารูเซล */
.owl-carousel .owl-stage {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* ไอเท็มคารูเซล */
.owl-carousel .owl-item {
    z-index: 1; /* ค่าเริ่มต้นของไอเท็มทุกตัว */
    transform-origin: center center;
}

/* ไอเท็มที่อยู่ฝั่งขวา */


/* ไอเท็มตรงกลางที่ถูกสเกล */
.owl-carousel .center-item .bg-white {
    transform: scale(1.1);
    z-index: 1; /* กำหนดค่า z-index ให้ต่ำกว่าไอเท็มที่อยู่ฝั่งขวา */
    position: relative;
    overflow: visible;
}


.animate-float {
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
    0% { transform: translatey(0px); }
    50% { transform: translatey(-20px); }
    100% { transform: translatey(0px); }
}
